body{
  margin: 0 auto -41px 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0;
}

#wrap .container .scroll-area {
  height: 684px;
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  border-top:1px solid #ddd;
  padding:10px 10px;
}

.text_align_right{
  text-align: right !important;
}

a > img{
  height: 80px !important;
}

.img_small_size{
  height: 60px !important;
}

.table td
{
  border: 0px solid black !important;
}

.header,
.table_header_large,
.table_header_small
{
  text-align: center;
}

.header,
.table_header_large,
.table_header_middle,
.table_header_small
{
  font-weight: bold;
}

.header,
.table_header_large,
.table_header_middle
{
  color: #0C5AA6;
}

.table_header_large{
  font-size: 18px;
}

.table_header_middle{
  font-size: 16px;
}

.table_header_small{
  font-size: 14px;
}

textarea{
  height: 150px !important;
}
